<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            background-color: black;
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        header {
            background-color: rgb(6, 6, 6);
            text-align: center;
            color: rgb(247, 241, 241);
            padding: 40px 0;
            
        }

        .container {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            padding: 20px;
            margin: 20px auto;
            width: 80%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tr:hover {
            background-color: #f2f2f2;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .logout-button {
            background-color: red;
            color: white;
        }

        .go-to-page-button {
            background-color: rgb(96, 234, 96);
            color: rgba(12, 12, 12, 0.895);
        }
    </style>
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>

    <div class="container">
        <h1>Welcome <%= usrnm %> !!</h1>
        <h2>User Details</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            <% for(var i =0; i < userData.length; i++) { %>
                <tr>
                    <td><%= userData[i].name %></td>
                    <td><%= userData[i].email %></td>
                    <td><%= userData[i].phonenumber %></td>
                </tr>
            <% } %>
        </table>

        <form action="/main" method="GET">
            <a href=><button class="go-to-page-button" type="submit">Go To The Main Page</button></a>
        </form><br>
        <form action="/signup" method="GET">
            <button class="logout-button" type="submit">LOGOUT</button>
        </form>
    </div>
</body>
</html>
